<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FileKip|Download</title>
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div class="container-fluid">
        <h1>FileKip</h1>
        <div>
        <ul class="nav nav-pills nav-fill">
        <li class="nav-item " >
            <a class="nav-link" href="/">Uploads</a>
        </li>
        <li class="nav-item activated">
            <a class="nav-link" href="/download">Downloads</a>
        </li>
        </ul>
        </div>
        <div class="dl">
            <%filelist.forEach(function(item){%>
                <ul class="filelist">
                    <li> <a href="/download/<%=item%>"><%=item%></a>  </li>
                </ul>
            <%})%>
        </div>
    </div>
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/semantic.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>