<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/downloadstyle.css">
    <link rel="stylesheet" href="/css/bttn.min.css">
    <title>Download Your Files</title>
</head>
<body>
        <div class="jumbotron container text-center" >
                <p class="title">Please select file to download</p>
        </div>
        <div class="container well body">
            <p class="heading1" > List of Files On server </p>
            <%filelist.forEach(function(item){%>
            <ul class="filelist">
                <li> <a href="/download/<%=item%>"><%=item%></a>  </li>
            </ul>
        <%})%>
            
        </div>
</body>
</html>