body{
    background-color: #3a6a72;
}
p.title
{
    font-size: 3em;
}
p.heading1{
    font-size: 2em;
}
div.body{
    background-color: rgb(224, 213, 224);
    padding-bottom: 10px;
}
a:hover{
    text-decoration: none;
}

.filelist{
    list-style: none;
}
li{
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 4px;
    border-bottom-color: #4286f4; 
}