body{
    background-color: #3a6a72;
}

div.heading{
    background-color: #999;
    display: flex;
    flex: 1 1 0;
    color: #121;
    font-size: 2em;
    justify-content: center; 
   
}

a:hover{
    text-decoration: none;
}

div.title{
    display: flex;
    justify-content: center;
    background-color: #666;
    flex-wrap: wrap;
}

nav{
    background-color: #444;
}

nav ul{
    display: flex; 
    list-style: none;
    padding: 0;
    justify-content: center;
}

nav li{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    flex: 1 1 0;
    text-align: center;

}

nav li:hover{
    background-color: #999;
    cursor: pointer;
}

.active{
    background-color: #999;
}